:root {
    --bg1: #f0f5fc;
    --bg2: #fff;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: var(--bg1 );
}
header {
    width: 100%;
    height: 50px;
}
main {
    display: flex;
    /* width: calc(100%-30px); */
    height: calc(100% - 50px);
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0 20px;
}

.action-box {
    min-width: 200px;
    height: 95%;
    background-color: var(--bg2);
    border-radius: 20px;
    margin-right: 20px;
    /* border: 1px solid red; */
}

.map-box {
    width: 85%;
    height: 95%;
    background-color: white;
    border-radius: 20px;
}