/* 메뉴 아이콘 클릭시 보여지는 메뉴바 */
#menu-bar {
    position: absolute;
    /* .close 버튼의 위치를 위한 position*/
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}

.menu-box {
    display: flex;
    width: 40%;
    height: 100%;
    background-color: var(--blue2);
    box-sizing: border-box;
    align-items: center;
    transition-duration: 500ms;
}

.menu-box .text {
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: -25px;
}

.menu-box .text span {
    cursor: pointer;
    transition-duration: 1.5s;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

.menu-compare-box {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.menu-compare-box:hover {
    border-left: 1px solid var(--blue2);
    border-right: 1px solid var(--blue2);
}


/* 비교 메뉴의 애니메이션 */
.menu-compare-box {
    position: relative;
}

.menu-compare-box .arrow-box {
    position: absolute;
    display: flex;
    opacity: 0;
    width: 100%;
    height: 45px;
    align-items: center;

}

.menu-compare-box .arrow-box .stick {
    width: 0px;
    height: 40%;
    background-color: var(--blue2);
    transition-duration: 900ms;
    transition-delay: 400ms;
}

.menu-compare-box .arrow-box .triangle {
    width: 0px;
    height: 0px;
    border-left: 45px solid var(--blue2);
    border-bottom: 22.5px solid transparent;
    border-top: 22.5px solid transparent;
}

.arrow-top {
    left: 0;
    top: 25%;
}

.arrow-bot {
    left: 0;
    bottom: 25%;
}

.menu-compare-box:hover .arrow-box {
    opacity: 1;
    transition-delay: 300ms;
    transition-duration: 300ms;
}

.menu-compare-box:hover .arrow-top .stick {
    animation: arrow-w-top 900ms 400ms forwards;
}

.menu-compare-box:hover .arrow-bot .stick {
    animation: arrow-w-bot 900ms 400ms forwards ease-out;
}


@keyframes arrow-w-top {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes arrow-w-bot {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* 날씨 메뉴의 애니메이션 */
.menu-weather-box {
    position: relative;
    overflow: hidden;
}

.menu-weather-box .weather-icon-box {
    position: absolute;
    width: 80px;
    height: 80px;
    /* background-color: red; */
    opacity: 0;
}

.menu-weather-box:hover .weather-icon-top {
    animation: weatherIconTop 5s infinite linear;
}

.menu-weather-box:hover .weather-icon-bot {
    animation: weatherIconBot 5s infinite linear;
}

.weather-icon-top {
    left: 0;
    top: 25%;
}

.weather-icon-bot {
    right: 0;
    bottom: 25%;
}

.cloud1 {
    fill: #57c1eb;
}

.cloud2 {
    fill: #81d6f7;
}

.sun {
    fill: #FFEB3B
}

@keyframes weatherIconTop {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(30vw);
    }
}

@keyframes weatherIconBot {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-30vw);
    }
}